
<div class="container">
	<div class="row">
	</div>
	<div class="row">
		<div class="col-md-4">
		<% if logged_user %>
			<%= render 'posts/form', post:  @post %>
				
			
	 		


			<% @users.each do|user| %>
				<li><%=user.first_name%> <%=user.email%></li>
			<% end %>
		<% end %>
		</div>
		<div class="col-md-4">

			<%= render "posts/index" %>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

	 

		